<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
<!-- 아래 Namespace가서 p설정 체크하기 -->
<bean id="mem1" class="ex1_xml3_pvalue.MemberBean"
	p:name="홍길동" p:age="33" p:message="점심 맛있는거">
</bean>

<bean id="dao1" class="ex1_xml3_pvalue.MemberDao"
	p:member-ref="mem1"/>


<bean id="mem2" class="ex1_xml3_pvalue.MemberBean"
	p:name="홍길자" p:age="22" p:message="불금불금"/>
	
<bean id="dao2" class="ex1_xml3_pvalue.MemberDao"
	p:member-ref="mem2"></bean>








</beans>
