<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="bean" class="ex1_xml4_list.ListBean">
	<property name="intList">
		<list>
			<value>22</value>
			<value>33</value>
			<value>44</value>
		</list>
	</property>
	
	
	
	<property name="memberList">
		<list>
			<ref bean="mem1"/>
			<ref bean="mem2"/>
			<ref bean="mem3"/>
		</list>
	</property>
</bean>

<bean id="mem1" class="ex1_xml4_list.MemberBean">
	<!-- 1.생성자로 값지정 -->
	<constructor-arg value="홍홍홍"></constructor-arg>
	<constructor-arg value="22"></constructor-arg>
	<constructor-arg value="하하"></constructor-arg>
</bean>


<bean id="mem2" class="ex1_xml4_list.MemberBean">
	<!-- 2. setter로 값지정 -->
	<property name="name" value="길동이"></property>
	<property name="age" value="33"></property>
	<property name="message" value="꺅"></property>
</bean>


<!-- 3. pvalue로 값지정 -->
<bean id="mem3" class="ex1_xml4_list.MemberBean"
	p:name="홍호옿" p:age="11" p:message="456789"></bean>

</beans>
